<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				  <%
				  var image_src = '../resources/img/helmet.jpg';
				  if (playerData) {
					image_src = "../" + playerData.img_src;
				  }
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/select_player" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <%-
							 	data.map(dataRow => `<option value="${dataRow.id}">${dataRow.name}</option>`).join("");
							 %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Year</th>
							<td><%- (playerData)? playerData.year : ""; %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%- (playerData)? playerData.major : ""; %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%- (playerData)? numberGames : ""; %></td>
						</tr>
						<tr>
							<td>Total Passing Yards: <%- (playerData)? playerData.passing_yards : ""; %></td>
							<td>Avg. Passing Yards: <%- (playerData)? playerData.passing_yards / numberGames : ""; %></td>
						</tr>
						<tr>
							<td>Total Rushing Yards: <%- (playerData)? playerData.rushing_yards : ""; %></td>
							<td>Avg. Rushing Yards: <%- (playerData)? playerData.rushing_yards / numberGames : ""; %></td>
						</tr>
						<tr>
							<td>Total Receiving Yards: <%- (playerData)? playerData.receiving_yards : ""; %></td>
							<td>Avg. Receiving Yards: <%- (playerData)? playerData.receiving_yards / numberGames : ""; %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
